* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

section {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 10rem 0 0 0;
}

img {
    display: block;
    height: 17rem;
    width: 20rem;
    padding: 0.5rem;
    margin: 0 auto 0 auto;
}

.column:not(:first-child) {
    margin: 0 0 0 5rem;
}

img {
    filter: invert(1);
}

.photo {
    border-radius: 1rem;
}

.photo#photo1{
    background-color: rgba(112, 192, 201);
}

.photo#photo2{
    background-color: rgb(64, 116, 189);
}

.photo#photo3{
    background-color: rgb(224, 94, 70);
}

.photo#photo4{
    background-color: rgb(145, 145, 145);
}

h1 {
    color: orange;
    text-align: center;
    font-size: 1.7rem;
    max-width: 10rem;
    margin: 2rem auto 0 auto;
    text-transform: uppercase;
}

div.column h1{
    max-width: 15rem;
}

h3 {
    max-width: 20rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2.2rem;
    margin: 1rem auto 0 auto;
}

.numbers{
    font-size: 2rem;
    font-weight: 1000;
    background-color: white;
    position: absolute;
    display: inline;
    border-radius: 50%;
    border: 0.3rem solid;
    margin: -2.4rem 0 0 -2.7rem;
    width: 5rem;
    height: 5rem;
}

.numbers#first {
    border-color: rgb(112, 192, 201);
}

.numbers#second {
    border-color: rgb(64, 116, 189);
}

.numbers#third {
    border-color: rgb(224, 94, 70);
}

.numbers#forth {
    border-color: rgb(145, 145, 145);
}

.numbers p
{
    padding: 1rem 0 0 1.7rem;
}

p.first {
    color: rgb(112, 192, 201);
}

p.second {
    color: rgb(64, 116, 189);
}

p.third {
    color: rgb(224, 94, 70);
}

p.forth {
    color: rgb(145, 145, 145);
}